

.cart{
margin-right:5%;
}

.text-color
{
    text-decoration-color: #F7F7FF;
    color:#F7F7FF;
    transition: color 0.3s ease;
}

.text-color:hover
{
    text-decoration-color: #fe5f55;
    color:#fe5f55;
}

nav{
    background-color: #495867;
}

.dropdown-menu{
    background-color: #495867;
}
.dropdown-item {
    color: #F7F7FF;
    transition: color 0.3s ease;
    
}

.dropdown-item:hover {
    color: #fe5f55;
    background-color: #495867;
}


